.Home {
    height: 100%;
    background: #555;
    padding: 30px;
    font-size: 2rem;
    color: white;
}
.Home>a {
    text-decoration: none;
    color: white;
    display: block;
}
.Home>a:hover {
    cursor: pointer;
    color: salmon;
    font-weight: bold;
}